{% extends "layout.html" %}
{% block content %}
  <div class="alert alert-danger alert-dismissable payment-errors">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <span></span>
  </div>
  
  <form action="/charge" method="POST" role='form' class="form-horizontal" id="payment-form">

  <div class="form-group">
    <label class="col-lg-1">Name:</label>
    <div class='col-lg-11'>
      <input type="text" size="25" placeholder="Name" class='cust-name form-control' name="customer_name"/>
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-1">Email:</label>
    <div class='col-lg-11'>
      <input type="text" size="20" placeholder="Email" class='cust-email form-control' name="customer_email"/>
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-1">Amount:</label>
    <div class='col-lg-11'>
      <input type="text" size="10" placeholder="$ Amount" class='cust-amount form-control' name="customer_amount"/>
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-1">Card Number:</label>
    <div class='col-lg-11'>
      <input type="text" size="20" placeholder="Card Number" class='card-number form-control' data-stripe="number"/>
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-1">CVC:</label>
    <div class='col-lg-11'>
      <input type="text" size="4" placeholder="Security Code" class='card-cvc form-control' data-stripe="cvc"/>
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-1">Expiration:</label>
    <div class='col-lg-5'>
      <input type="text" size="2" placeholder="MM" class='card-expiry-month form-control' data-stripe="exp-month"/>
    </div>
    <div class='col-lg-6'>
      <input type="text" size="4" placeholder="YYYY" class='card-expiry-year form-control' data-stripe="exp-year"/>
    </div>
  </div>

  <button class='btn btn-success btn-block' type="submit">Submit Payment</button>
</form>
{% endblock %}